POSTGRES_DB=cabazes
POSTGRES_USER=cabazes_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=db
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://backend:8000

JWT_SECRET=change_me
JWT_EXPIRE_MINUTES=60

# Credenciais seed (admin)
ADMIN_SEED_EMAIL=admin@cabazes.local
ADMIN_SEED_PASSWORD=Admin123!
